<% include ../partials/header.ejs %>
<% include ../partials/modal.ejs %>


<table class="table table-striped table-hover">
    <tr>
        <th>Name Of Client</th>
        <th>Amount</th>
        <th>Date From</th>
        <th>Date To</th>
        <th></th>
        <th></th>
    </tr>

    <% for (var i = 0; i < invoices.length; i++) { %>
    <tr>
        <td><%= invoices[i].nameOfClient %></td>
        <td>$<%= invoices[i].amount %></td>
        <td><%= dateFrom[i] %></td>
        <td><%= dateTo[i] %></td>
        <td><a href="invoices/edit/<%= invoices[i]._id %>" class="btn btn-primary">Edit</a></td>
        <td><a href="#deleteRecord" data-toggle="modal"
               data-delete-modal-id=<%= invoices[i].nameOfClient %> data-target="#deleteRecord" class="btn btn-default">Delete</a>
        </td>
    </tr>
    <% } %>
</table>
<% include ../partials/footer.ejs %>